.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #60A3D9;
}

.json-text-input {
    width: 35%;
    height: 40vh;
    overflow: auto;
    margin-bottom: 1%;
}

.json-file-input {}

.json-visualize {
    background-color: #60A3D9;
    border: 5px solid #0074B7;
    color: #003B73;
    font-size: large;
    transition: .5s;
    margin: 3%;
    padding: 1%;
}

.json-visualize:hover {
    cursor: pointer;
    transform: scale(1.5);
}

body {
    background-color: #003B73;
    min-width: 500px;
    min-height: 325px;
}

.homepage-container h2 {
    color: #003B73;
    border: 5px solid #0074B7;
    padding: 5%;
}

.homepage-container input {
    border: 3px solid #0074B7;
    color: #003B73;
}