.charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas.pie {
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 10%;
}

canvas.bar {
    min-width: 700px;
    min-height: 400px;
    margin-bottom: 10%
}